.notification-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.notification-menu__item {
    width: 100%;
}
.notification-menu__item > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #5e5e5e;
    text-decoration: none;
    text-transform: uppercase;
    font: 13px/18px 'Open Sans', sans-serif;
    font-weight: bold;
    background: #f1f2f2;
    transition: .1s;
    padding: 0 20px;
    text-align: center;
}
.notification-menu__item.active > a,
.notification-menu__item > a:hover {
    background: #f8f9f9;
    color: #0b54a0;
    text-decoration: none;
}
.col-nt {
    display: flex;
    justify-content: space-between;
}
.col-nt-30 {
    width: 30%;
}
.col-nt-70 {
    width: 70%;
}
.mr-20 {
    margin-right: 20px;
}
.notification-h2 {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    font-weight: bold;
    color: #212121;
    margin: 30px 0 20px;
    line-height: 1.1;
}
.notification-h2.clean {
    padding-right: 51px;
    position: relative;
}
.notification-h2.clean > span {
    display: block;
}
.notification-remove {
    width: 51px;
    height: 26px;
    position: absolute;
    top: 0;
    right: 0;
}
.notification-remove:hover {
    cursor: pointer;
}
.notification-remove:hover .icon-remove {
    background-position-x: -12px;
}
.navbar.notification-navbar ul li.active a {
    padding: 17px 30px 17px 20px;
}
.navbar.notification-navbar ul li.active a:before {
    right: 0;
    left: auto;
}
.provider {
    border: 1px solid #e3e6e6;
    position: relative;
    margin-bottom: 20px;
}
.provider-err {
    background: #ee4143;
    color: #fff;
    padding: 16px 50px 16px 20px;
    position: relative;
}
.provider-err .icon-del {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: url('../../../public/img/attachment_disable-icon.png') no-repeat center;
}
.provider-err .icon-del:hover {
    cursor: pointer;
}
.provider-header {
    background: #e3e6e6;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.provider-name {
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: bold;
    color: #212121;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.provider-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.provider-nav__submit {
    width: 150px;
    height: 40px;
}
.provider-nav__submit > button {
    background: #36a34d;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    position: relative;
    padding-left: 44px;
    outline: none;
}
.provider-nav__submit > button:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 44px;
    height: 100%;
    background: #3cb556 url('../../../public/img/provider-save.png') no-repeat center;
    background-size: 12px;
}
.provider-nav__submit.load > button:before {
    background-image: url('../img/attachment_loader-icon.gif');
    background-size: 16px;
}
.provider-nav__submit > button:disabled,
.provider-nav__submit:hover > button:disabled {
    background-color: gray;
    color: #cbcbcb;
}
.provider-nav__clear {
    width: 95px;
    height: 40px;
}
.provider-nav__clear > button {
    background: transparent;
    border: none;
    color: #5e5e5e;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 100%;
    height: 100%;
}
.provider-nav__clear:hover > button {
    text-decoration: underline;
}
.provider-nav__submit:hover > button {
    background-color: #3cb556;
}
.provider-nav__remove {
    border-left: 1px solid #d7d9d9;
    width: 51px;
    height: 100%;
    position: relative;
}
.icon-remove {
    position: absolute;
    left: calc(50% - 6px);
    top: calc(50% - 8px);
    width: 12px;
    height: 16px;
    background: url('../../../public/img/provider-remove.png') no-repeat 0 0;
}
.provider-nav__remove:hover {
    cursor: pointer;
}
.provider-nav__remove:hover .icon-remove {
    background-position-x: -12px;
}

.provider-tabs__item {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #212121;
    text-transform: uppercase;
    padding: 20px 20px 15px;
    position: relative;
    margin: 0;
    text-decoration: none;
}
.provider-tabs__item:hover {
    text-decoration: none;
    color: #212121;
}

.provider-tabs > label {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #212121;
    text-transform: uppercase;
    padding: 25px 20px 15px;
    position: relative;
    margin: 0;
}

.provider-tabs > label:hover {
    cursor: pointer;
}

.provider-tabs > hr {
    margin: 0;
    border-color: #e3e6e6;
}

.provider-regulations-block,
.provider-template {
    padding: 0 20px;
    margin-top: 20px;
}

.provider-tabs.regs {
    border-bottom: 1px solid #e3e6e6;
    margin-bottom: 20px;
}

.provider-template__input,
.provider-regulations__input {
    display: none;
}

.provider-template__input + label:after,
.provider-regulations__input + label:after,
.provider-tabs__item.active:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #36a34d;
    opacity: 0;
    transition: .3s;
}

.provider-template__input:checked + label,
.provider-regulations__input:checked + label,
.provider-tabs__item.active {
    color: #5e5e5e;
}
.provider-template__input:checked + label:after,
.provider-regulations__input:checked + label:after,
.provider-tabs__item.active:after {
    opacity: 1;
}

.provider-template__input:checked ~ .provider-template,
.provider-regulations__input:checked ~ .provider-regulations {
    display: block;
}

.provider-tabs > section {
    display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.provider-tabs > section > div {
    line-height: 1.5;
    color: #383838;
    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .5s; /* Firefox < 16 */
    -ms-animation: fadein .5s; /* Internet Explorer */
    -o-animation: fadein .5s; /* Opera < 12.1 */
    animation: fadein .5s;
}

.form_default_option {
    margin-bottom: 5px;
}

.form_default_radio {
    display: inline-block;
    margin-right: 20px;
}
.form_default_radio > label {
    height: 20px;
    position: relative;
    padding-left: 28px;
    font-weight: normal;
}
.form_default_radio > label:hover {
    cursor: pointer;
}
.form_default_radio > label:before {
    content: '';
    width: 20px;
    height: 100%;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-radius: 100%;
    left: 0;
    top: 0;
}
.form_default_radio > input:checked + label {
    font-weight: bold;
}
.form_default_radio > input:checked + label:before {
    border-color: #36a34d;
}
.form_default_radio > input:checked + label:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background: #36a34d;
    border-radius: 100%;
    left: 5px;
    top: 5px;
}

.form_default_input.cleaner {
    position: relative;
}
.provider-nav__add-rule {
    display: inline-block;
    margin-left: 20px;
}
.provider-nav__add > button,
.provider-nav__add-rule > button,
.provider-nav__remove-regulation > button {
    padding-left: 24px;
    height: 40px;
    position: relative;
    color: #5e5e5e;
    font-size: 13px;
    text-decoration: underline;
    background: transparent;
    border: none;
    outline: none;
}
.provider-nav__add > button:before,
.provider-nav__add-rule > button:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background: url('../../../public/img/plus.png') no-repeat 0 center;
    background-size: 12px;
}
.provider-nav__remove-regulation > button:before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
    width: 12px;
    height: 16px;
    background: url('../../../public/img/provider-remove.png') no-repeat 0 0;
}

.provider-nav__add > button:hover,
.provider-nav__add-rule > button:hover,
.provider-nav__remove-regulation > button:hover {
    text-decoration: none;
}

.provider-nav__remove-regulation {
    display: flex;
    justify-content: flex-end;
}

.cleaner-remove {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 51px;
}
.form_default_input.cleaner > input {
    padding-right: 51px;
}
.cleaner-remove:hover {
    cursor: pointer;
}
.cleaner-remove:hover .icon-remove {
    background-position-x: -12px;
}

.provider .select2-container--open,
.col-nt .select2-container--open {
    max-width: 100%;
}

.mb-5 {
    margin-bottom: 5px !important;
}
